{% extends "Backend/layout.html.twig" %}
{% block title %}Danh sách Khách hàng{% endblock %}
{% block body %}
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h3 class="text-themecolor"><a href="/khach-hang/add" class="btn btn-info"><i class="mdi mdi-folder-plus"></i></a> Danh sách Khách hàng</h3>
        </div>
        <div>
            <a href="#top" class="right-side-toggle waves-effect top waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-arrow-circle-up text-white"></i></a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="card-actions">
                            <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                            <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
                            <a class="btn-close" data-action="close"><i class="ti-close"></i></a>
                        </div>
                    </div>
                    <div class="card-body collapse show">
                        <div class="card-body collapse show">
                          <div class="table-responsive">
                          <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                              <thead>
                                  <tr>
                                      <th>STT</th>
                                      <th>Họ tên</th>
                                      <th>Email</th>
                                      <th>Điện thoại</th>
                                      <th>Địa chỉ</th>
                                      <th>#</th>
                                  </tr>
                              </thead>
                              <tbody>
                              {% if customers %}
                              {% for key, customer in customers %}
                                  <tr>
                                      <td>{{key+1}}</td>
                                      <td>
                                        {% if customer.hinhanh_aliasname.0 %}
                                          <img src="/uploads/images/{{customer.hinhanh_aliasname.0}}" alt="user" class="img-circle" />
                                        {% else %}
                                          <img src="/assets/Backend/images/default.png" alt="user" class="img-circle" />
                                        {% endif %}
                                          {{customer.fullname}}
                                      </td>
                                      <td>{{customer.username}}</td>
                                      <td>{{customer.phone}}</td>
                                      <td>{{customer.address}}</td>
                                      <td class="text-center">
                                          <a href="/khach-hang/delete?id={{customer._id}}" class="btn btn-sm btn-danger" onclick="return confirm('Chắc chắn xóa?')"><i class="mdi mdi-delete"></i> Xóa</a>
                                          <a href="/khach-hang/edit?id={{customer._id}}" class="btn btn-sm btn-info"><i class="mdi mdi-account-edit"></i> Sửa</a>
                                      </td>
                                  </tr>
                                  {% endfor %}
                                {% endif %}
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <td colspan="6">
                                          <div class="text-right">
                                              <ul class="pagination"></ul>
                                          </div>
                                      </td>
                                  </tr>
                              </tfoot>
                          </table>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js%}
    <script type="text/javascript">
         $(document).ready(function() {
            $('.top').click(function(){
              $('html, body').animate({
                scrollTop: $( $.attr(this, 'href') ).offset().top
              }, 500);
              return false;
            });
        });
    </script>
{% endblock %}
