{% extends "Backend/layout.html.twig" %}

{% block title %}Danh sách đơn hàng{% endblock %}
{% block body %}
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h3 class="text-themecolor"><a href="/don-hang/add" class="btn btn-info"><i class="mdi mdi-folder-plus"></i></a> Danh sách đơn hàng</h3>
        </div>
        <div>
            <a href="#top" class="right-side-toggle waves-effect top waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-arrow-circle-up text-white"></i></a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                       <div class="table-responsive">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>Mã đơn hàng</th>
                                      <th>Khách hàng</th>
                                      <th>Ngày mua</th>
                                      <th>Tổng đơn hàng</th>
                                      <th><i class="mdi mdi-printer"></i></th>
                                  </tr>
                              </thead>
                              <tbody>
                              {% if orders %}
                              {% for order in orders %}
                                {% set tongthanhtien = 0 %}
                                {% for sp in order.sanpham %}
                                  {% set tongthanhtien = tongthanhtien + sp.thanhtien %}
                                {% endfor %}
                                  <tr>
                                      <td><a href="/don-hang/detail?id={{order._id}}">{{order.madonhang}}</a></td>
                                      <td>{{order.hoten}}</td>
                                      <td><span class="text-muted">{{oder.createAt.sec|date("d/m/Y H:i")}}</span> </td>
                                      <td class="text-right">{{tongthanhtien}}</td>
                                      <td><a href="/don-hang/print?id={{order._id}}"><i class="mdi mdi-printer"></i></a></td>
                                  </tr>
                                {% endfor %}
                                {% endif %}
                              </tbody>
                          </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js%}
    <script type="text/javascript">
         $(document).ready(function() {
            $('.top').click(function(){
              $('html, body').animate({
                scrollTop: $( $.attr(this, 'href') ).offset().top
              }, 500);
              return false;
            });
        });
    </script>
{% endblock %}
