{% extends "Backend/layout.html.twig" %}
{% block title %}In đơn hàng{% endblock %}
{% block body %}
<div class="row page-titles">
    <div class="col-md-12 align-self-center">
        <h3 class="text-themecolor"><i class="mdi mdi-printer"></i> In đơn hàng</h3>
    </div>
    <div>
        <a href="#top" class="right-side-toggle waves-effect top waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-arrow-circle-up text-white"></i></a>
    </div>
</div>
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body printableArea">
                <h3><b>ĐƠN HÀNG</b> <span class="pull-right">{{order.madonhang}}</span></h3>
                <hr>
                {% set tongthanhtien = 0 %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <address>
                                <h3> &nbsp;<b class="text-danger">{{session.fullname}}</b></h3>
                                <p class="text-muted m-l-5">{{session.username}}</p>
                            </address>
                        </div>
                        <div class="pull-right text-right">
                            <address>
                                <h3>Thông tin khách hàng,</h3>
                                <h4 class="font-bold">{{order.hoten}},</h4>
                                <p class="text-muted m-l-30">Điện thoại: {{order.dienthoai}},
                                    <br/> Email: {{order.email}},
                                    <br/> Địa chỉ: {{order.diachi}}</p>
                                <p class="m-t-30"><b>Ngày mua :</b> <i class="fa fa-calendar"></i> {{order.createAt.sec|date("d/m/Y H:i")}}</p>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive m-t-40" style="clear: both;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Sản phẩm</th>
                                        <th class="text-right">Số lượng</th>
                                        <th class="text-right">Đơn giá</th>
                                        <th class="text-right">Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if order.sanpham %}
                                {% for key, sp in order.sanpham %}
                                {% set tongthanhtien = tongthanhtien + sp.thanhtien %}
                                    <tr>
                                        <td class="text-center">{{key+1}}</td>
                                        <td>{{sp.tensanpham}} {{sp.tenthuoctinh}}</td>
                                        <td class="text-right">{{sp.soluong}}</td>
                                        <td class="text-right">{{sp.giaban}}</td>
                                        <td class="text-right">{{sp.thanhtien}}</td>
                                    </tr>
                                  {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pull-right m-t-30 text-right">
                            <hr>
                            <h3><b>Tổng cộng :</b> {{tongthanhtien}}</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="card card-body text-right">
                <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> In hóa đơn</span> </button>
            </div>
        </div>
    </div>
{% endblock %}
{% block js%}
<script src="/assets/Backend/js/jquery.PrintArea.js" type="text/JavaScript"></script>
    <script>
    $(document).ready(function() {
        $("#print").click(function() {
            var mode = 'iframe'; //popup
            var close = mode == "popup";
            var options = {
                mode: mode,
                popClose: close
            };
            $("div.printableArea").printArea(options);
        });
    });
    </script>

{% endblock %}
